$primary-color: #42b883;
$secondary-color: #0ebbd2;
$third-color: #0047e1;

$text-color: #f7f0f5;

$background-base-color: #1a1a1a;
$background-sec-color: #252429;

$error: #f56c6c;
$success: #67c23a;